<div id="newSurvey" ng-controller="AddSurveyController">

<div class="row"> <div class="col-md-12">

    <section class="panel">
    <header class="modal-header">
        <h1>Create new survey</h1>
    </header>
<div class="panel-body bg-inverse">
<div class="form-group">    <textarea ng-model="surveyModel.Name" cols="80" rows="2" placeholder="Type in the title of the survey" required
              class="form-control"></textarea></div>

    <div class="form-group">
    <textarea ng-model="surveyModel.Description" cols="80" rows="5" placeholder="Description of the survey" required
              class="form-control"></textarea></div>

</div>

</section>


</div>

</div>


    <div class="row">
        <div class="col-md-12">
            <section class="panel tasks-widget">
                <header class="panel-heading">
                    List of questions
                </header>
                <div class="panel-body">
                    <div class="task-content">
                        <ul id="sortable" class="task-list">
                            <li class="list-primary" ng-animate="'animate'" ng-repeat="item in surveyModel.questions">
                                <i class=" fa fa-ellipsis-v"></i>

                                <div class="task-title">
                                    <span class="task-title-sp">{{item.QuestionText}} - {{item.Pos}}</span>

                                    <div class="pull-right hidden-phone">
                                        <button ng-click="slideUp(item.Pos)"
                                                class="btn btn-success btn-xs fa  fa-arrow-up"></button>
                                        <button ng-click="slideDown(item.Pos)"
                                                class="btn btn-primary btn-xs fa  fa-arrow-down"></button>
                                        <button class="btn btn-danger btn-xs fa fa-trash-o"></button>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>

                    <div class=" add-task-row">
                        <div class="col-md-10">
                            <input type="text" width="40" class="form-control" ng-model="newQuestion"
                                   class="form-control" placeholder="type in a new question">
                        </div>
                        <button ng-click="addItem()" ng-disabled="newQuestion.length<2"
                                class="btn btn-success pull-right"><i class="fa fa-plus">Add this question</i>
                        </button>
                    </div>
                </div>
            </section>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <section class="panel tasks-widget">

                <div class="panel-body">

                    <div class=" add-task-row">
                        <button type="button" class="btn btn-success btn-lg pull-right" ng-click="addSurvey()"
                               ng-disabled="surveyModel.questions.length<2"><i class="fa fa-save"> Create new survey </i></button>
                    </div>
                </div>
            </section>
        </div>
    </div>

</div>