<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">
            <li>
                <a href="#/dashboard">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <li class="sub-menu">
                <a href="javascript:">
                    <i class=" fa fa-bar-chart-o"></i>
                    <span>Surveys</span>
                </a>
                <ul class="sub">
                    <li><a ng-href="#/surveys">List of current Surveys</a></li>
                    <li><a ng-href="#/addsurvey">Create new survey</a></li>
                    <li><a ng-href="#/uploadcontacts">Upload contact list</a></li>
                </ul>
            </li>


        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>