<style>
    /* Put your css in here */

    .chart {
        margin-bottom: 30px;
        width: 900px;
        height: 500px;
    }
</style>





<div class="row">

<div class="col-md-12">    <section class="panel">
<div class="col-md-6">                <div
                        data-ac-chart="'bar'"
                        data-ac-data="data"
                        data-ac-config="config"
                        class="chart">
                </div></div>

<div ng-repeat="theData in questionChartData">
    <div
            data-ac-chart="'bar'"
            data-ac-data="theData.data"
            data-ac-config="theData.conf"
            class="chart">

</div>

</section></div>

</div>



