    <!-- page start-->

    <section class="panel">
        <header class="panel-heading">
            File Upload
        </header>
        <div class="panel-body">
            <div class="row state-overview" ng-hide="uploadCompleted">
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol blue">
                            <i class="fa fa-check"></i>
                        </div>
                        <div class="value">
                            <h1 class="count">495</h1>
                            <p>New Email</p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol red">
                            <i class="fa  fa-exclamation"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count2">35</h1>
                            <p>Not <uplo>aded</uplo></p>
                        </div>
                    </section>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <section class="panel">
                        <div class="symbol yellow">
                            <i class="fa fa-shopping-cart"></i>
                        </div>
                        <div class="value">
                            <h1 class=" count3">{{valore}}</h1>
                            <p>Only God knows...</p>
                        </div>
                    </section>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat pretium mi eu mollis. Morbi finibus nulla a elit aliquet dapibus. Sed consequat ullamcorper augue ac fermentum. Cras massa nulla, laoreet sed velit sit amet, laoreet elementum mi. Mauris vestibulum odio at nulla tempus, sit amet tristique orci consequat. Donec diam ligula, efficitur sed tincidunt sed, posuere non eros. Maecenas non risus non ex hendrerit malesuada. Morbi non libero ut dui aliquam pharetra. Vestibulum egestas varius mi vitae sagittis.
                 </p>   <br>
                    <!-- The file upload form used as target for the file upload widget -->

                        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
                        <div class="row fileupload-buttonbar">
                            <div class="col-lg-7">
                                <!-- The fileinput-button span is used to style the file input field as button -->
                                        <span class="btn btn-success fileinput-button">
                                        <i class="glyphicon glyphicon-plus"></i>
                                        <span>Select file.</span>
                                        <input type="file" name="files[]" file-model="myFile">
                                        </span>
                                <button ng-click="uploadFile()" class="btn btn-primary start">
                                    <i class="glyphicon glyphicon-upload"></i>
                                    <span>Start upload</span>
                                </button>

                                <span class="fileupload-process"></span>
                            </div>
                            <!-- The global progress state -->
                            <div class="col-lg-5 fileupload-progress fade">
                                <!-- The global progress bar -->
                                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                                    <div class="progress-bar progress-bar-success" style="width:0%;">
                                    </div>
                                </div>
                                <!-- The extended global progress state -->
                                <div class="progress-extended">
                                    &nbsp;
                                </div>
                            </div>
                        </div>


                    <br>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Demo Notes</h3>
                        </div>
                        <div class="panel-body">
                            <ul>
                                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc vo</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </section>

    <!-- page end-->